body{
    background-color: rgb(107, 109, 195);
    color: rgb(236, 222, 222);
}

.container{
    color: rgb(236, 222, 222);
}

.btn{
    color: rgb(236, 222, 222);
}

.btn:hover{
    background-color: rgb(236, 222, 222);
}

.title{
    color: rgb(236, 222, 222);
}

input[type="text"] {
    background-color: rgb(236, 222, 222);
}
  
  
  